# --- Data and Videos ---
# Don't push your raw dataset or uploaded test videos
Data/

uploads/
*.mp4
*.avi
*.jpeg
*.jpg
*.png



# --- Python Environment ---
# Don't push your virtual environment

.GPUenv/
.Correctenv/
__pycache__/
*.pyc







# --- Credentials ---
# Never push your keys or tokens
key.txt
.env
Salesforce.txt

Model/
*.safetensors
*.bin
*.h5

WebSystem/Models/
*.yaml
*.pt
*.csv

*.env